// fonts
$font-base: 1.6rem;

// colors
$color-white: #fff;
$color-white-2: #eeeeee;

$color-black: #000;
$color-black-2: #222;
$color-black-3: #444;
$color-black-4: #505050;
$color-black-5: #999;

$color-aqua: #32e7ffcc;
$color-aqua-2: #32e7ff1a;

$color-orange: #fab34a;
$color-red: #fd4545e6;


$color-yellow-2: #fffeee;

$color-purple: #e5e9ff;